<!DOCTYPE html>
<html lang="en">
<#import "./fragments/layout.ftl" as layout/>
<@layout.head title = "Home page"/>
<body>
    <div>
    <@layout.header/>
    </div>
    <div>
    <@layout.menu/>
    </div>
    <div>
        <@layout.content>
            <p>${errorMessage}</p>
            <br>
            <form action="/products" method="get">
                <input type="submit" value="CANCEL">
            </form>
        </@layout.content>
    </div>

    <div>
    <@layout.footer/>
    </div>
</body>
</html>