<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="/images/favicon.ico">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TSA Sign up</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<main>
  <div class="row">
<!--    <div class="colm-logo">-->
<!--      <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Logo">-->
<!--      <h2>Facebook helps you connect and share with the people in your life.</h2>-->
<!--    </div>-->
    <div class="colm-form">
      <div class="form-container">
        <form action="/login" method="post">
        <label>
          <input type="text" name="email" placeholder="Email address or phone number">
        </label>
        <label>
          <input type="password" name="password" placeholder="Password">
        </label>

          <button class="btn-login">Login</button>
        </form>
        <!--        <a href="#">Forgotten password?</a>-->
<!--        <button class="btn-new">Create new Account</button>-->
      </div>

    </div>
  </div>
</main>
<footer>
  <div class="footer-contents">
    <ol>
      <li>English (UK)</li>
<!--      <li><a href="#">മലയാളം</a></li>-->
<!--      <li><a href="#">தமிழ்</a></li>-->
<!--      <li><a href="#">తెలుగు</a></li>-->
<!--      <li><a href="#">বাংলা</a></li>-->
<!--      <li><a href="#">اردو</a></li>-->
<!--      <li><a href="#">हिन्दी</a></li>-->
<!--      <li><a href="#">ಕನ್ನಡ</a></li>-->
<!--      <li><a href="#">Español</a></li>-->
<!--      <li><a href="#">Português (Brasil)</a></li>-->
<!--      <li><a href="#">Français (France)</a></li>-->
      <li><button>+</button></li>
    </ol>
    <small>TSA online-shop © 2022</small>
  </div>
</footer>
</body>
</html>