<!DOCTYPE html>
<html lang="en">
<#import "./fragments/layout.ftl" as layout/>
<@layout.head title = "Products"/>
    <body>
        <div>
            <@layout.header/>
        </div>
        <div>
            <@layout.menu/>
        </div>
        <div>
            <@layout.content>
            <br>
            <div>
                <form method="post" action="/products/filter">
                    <label>
                        Search by: <input type="text" size="30" name="criteria">
                    </label>
                    <input type="submit" value="do search">
                </form>
                <a href="/products">
                    <input type="submit" value="cancel search">
                </a>
            </div>
            <br>
            <table>
                <thead>
                    <th>Edit</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Creation date</th>
                    <th>Description</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <#list products as product>
                        <tr>
                            <td>
                                <a href="/products/edit?id=${product.getId()}">
                                    <img src="/images/edit-button.png" width="75" height="35">
                                </a>
                            </td>
                            <td>${product.getId()}</td>
                            <td>${product.getName()}</td>
                            <td>
                                <#setting locale="en_US">
                                ${product.getPrice()}
                            </td>
                            <td>${product.getDate()?string["yyyy-MM-dd"]}</td>
                            <td>${product.getDescription()}</td>
                            <td>
                                <a href="/products/delete?id=${product.getId()}">
                                    <img src="/images/delete-button.png" width="75" height="35">
                                </a>
                            </td>
                        </tr>
                    </#list>
                </tbody>
            </table>
            </@layout.content>
        </div>

        <div>
            <@layout.footer/>
        </div>
    </body>
</html>