<!DOCTYPE html>
<html lang="en">
<#import "./fragments/layout.ftl" as layout/>
<@layout.head title = "Products"/>
    <body>
        <div>
            <@layout.header/>
        </div>
        <div>
            <@layout.menu/>
        </div>
        <div>
            <@layout.content>
            <table>
                <thead>
                    <th>Edit</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Creation date</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <#list products as product>
                        <tr>
                            <td>
                                <form method="get" action="/products/edit">
                                    <input type="hidden" name="id" value="${product.getId()}">
                                    <input type="submit" value="edit">
                                </form>
                            </td>
                            <td>${product.getId()}</td>
                            <td>${product.getName()}</td>
                            <td>
                                <#setting locale="en_US">
                                ${product.getPrice()}
                            </td>
                            <td>${product.getDate()?iso_utc}</td>
                            <td>
                                <form method="get" action="/products/delete">
                                    <input type="hidden" name="id" value="${product.getId()}">
                                    <input type="submit" value="delete">
                                </form>
                            </td>
                        </tr>
                    </#list>
                </tbody>
            </table>
            </@layout.content>
        </div>

        <div>
            <@layout.footer/>
        </div>
    </body>
</html>